.custom-sidebar {
  width: 220px;
  height: 100vh;
  background: #010111;
  color: white;
  padding-top: 2rem;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.4);
  animation: slideInLeft 0.6s ease;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 1px;
  z-index: 100;
  
}
.sidebar-title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  color: #00AAFF;
  padding: 1rem;
}
.sidebar-menu {
  background: linear-gradient(
    135deg,
    #01010F 15%,
    #020752 55%,
    #01011F 90%
  );
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}
.sidebar-menu li {
  padding: 14px 24px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  font-weight: 500;
  color: white;
  border-left: 4px solid transparent;
}
.sidebar-menu li:hover {
  background: #1C2F4A;
  transform: translateX(5px);
  color: #00C3FF;
  border-left: 4px solid #00C3FF;
}
.active-link {
  background-color: #2A3B5C;
  color: #00C3FF;
  font-weight: bold;
  border-left: 4px solid #00C3FF;
}
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
