

#contenedor-eve{
  min-height: 100vh;
  width: 100%;
  
  background: linear-gradient(to right, #d0e8ff, #b3d4fc, #90caf9);
  background-repeat: no-repeat;
  background-attachment: fixed;
 /*  display: flex;
  justify-content: center;
  align-items: flex-start; */
    
}

.detalles-container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
   margin: 1px auto; 
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  font-family: 'Segoe UI', sans-serif;
}

.imagen-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.evento-imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-container {
  padding: 30px;
}

.evento-titulo {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #333;
}

.evento-organizador {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
}

.evento-info p,
.evento-extra p {
  margin: 12px 0;
  font-size: 1.05rem;
  color: #444;
  display: flex;
  align-items: center;
}

.icono {
  margin-right: 8px;
  color: #1e88e5;
}

.evento-descripcion {
  margin-bottom: 20px;
}

.boton-contenedor {
  margin-top: 30px;
  text-align: center;
}

.boton-registrarse {
  background-color: #1e88e5;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.boton-registrarse:hover {
  background-color: #1565c0;
}


#contenedorYoutube {
   display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 0.5rem;
}

#inputyoutube {
  flex: 1;
  border: none;
  border-bottom: 1px solid #faf8f8;
  background-color: transparent;
  padding: 10px 0;
  font-size: 14px;
  outline: none;
  transition: border-bottom 0.2s ease-in-out;
  color: #0f0f0f;
}

#inputyoutube:focus {
  border-bottom: 2px solid #065fd4;
}

#btnYoutube {
  background-color: #065fd4;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 18px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#btnYoutube:hover {
  background-color: #054fc1;
}


#contenedorcomentarios {
  
  margin-top: 2rem;
  max-width: 600px;
  margin-left: 2rem; /* o 0 si quieres pegado del borde */
  font-family: Arial, sans-serif;
  text-align: left;

}

.comentario {
  padding: 1rem 0;
  border-bottom: 1px solid #cfd8dc;
  transition: background-color 0.2s ease;
  border-radius: 6px;
}

.comentario:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.comentario-nombre {
  font-weight: 600;
  font-size: 15px;
  color: #0f0f0f;
  margin-bottom: 4px;
}

.comentario-texto {
  font-size: 14px;
  color: #333;
  margin: 0;
  line-height: 1.5;
}

