
#contendorLOGIN {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

 display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: linear-gradient(135deg, #a1c4fd, #c2e9fb);
}

#contendortodoLOGIN {
   background: white;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

#contendorLogin h1 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#contenedorLogin label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#contenedorLogin input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  background-color: #ccccccfb;
}

#contenedorLogin input:focus {
  outline: 2px solid #007bff;
  background-color: #e6e6e6;
}

#contenedorLogin button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;

  transition: background-color 0.3s ease, transform 0.2s ease;
}

#contenedorLogin button:hover {
  background-color: #555;
  transform: scale(1.03);
}

#contenedorLogin button:active {
  transform: scale(0.97);
}

#contendorP {
  text-align: center;
  margin-top: 15px;
}

#contendorP a {
  color: #007bff;
  text-decoration: none;
}
